		<div class="clock-div" id="clock-div">
			<table style="height: 15%; width: 5%">
				<tr style="height: 15%; width: 5%">
					<td style="text-align: center; width: 5%" valign="top">
					
						<div style="width: 120px; height: 120px;" valign="top">

							<div id="clock" class="clock">

								<div id="clock-back"></div>

								<div id="quarters">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>

								<div id="five-minutes">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>

								<div id="hours-hand"></div>
								<div id="minutes-hand"></div>
								<div id="seconds-hand"></div>
								<div id="center-cap"></div>

							</div>

						</div>
					</td>
				</tr>

				<tr style="height: 15%; width: 5%">

					<td style="text-align: center; width: 5%">							
						<span>{{date}}</span>						
					</td>
				</tr>
			</table>
			</div>
